*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    
}
.navbar>.logo{
    height: 60px;
    width: 50%; 

    
}
 .navbar>.logo>img{
    color: white; 
    margin-top: 15px;
    margin-left: 110px;  
    height: 45px;
    width: 130px;
   
}  
.navbar>.menu{
    height: 60px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}
.navbar>.menu>a{
   color: white; 
   /* justify-content: space-evenly; */
   margin-top: 30px;
   text-decoration: none;
   font-weight:900;
   font-size: 16px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.bg{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: pink;
    /* background-color: rgb(108, 14, 224) -5%, rgb(240, 55, 166); */
    padding-top: 100px;
    
}
.bg>.mobile{
    height: 400xpx;
    width: 300px;
    
}
.bg>.mobile>img{
    height: 480px;
    width: 280px;
    border-radius: 30px;
    margin-left: 90px;
    
    

}
.bg>.data{
    
    height: 400px;
    width: 650px;
    /* background-color: aquamarine; */
    margin-left: 140px;
    

}
.bg>.data>.desc{
    height: 225px ;
    width: 100%;
    /* background-color: chartreuse; */
    padding-top: 80px;
}
.bg>.data>.desc>h1{
    
    color: white;
    text-decoration: solid;
    margin-left: 5px;
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg>.data>.button{
    height: 40px;
    width: 240px;
    margin-top: 40px;
    margin-left: 20px;
    

}
.bg>.data>.button>button{
    height: 40px;
    width: 180px;
    border: 0px;
    border-radius: 20px;
  
}
.bg>.data>.button>button>a{
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
}



.title{
    height: 200px;
    width: 100%;
    /* background-color: lightgreen; */
    padding: 70px;
    

}
.title>h1{
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    font-size: 40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}








.main_container{
    height: 320px;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}
.main_container>.con1{
    height: 50% ;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
}
.main_container>.con4{
    height: 50% ;
    width: 100%;
    display: flex;
}






.main_container>.con1>.con2{
    height: 100%;
    width: 50%; 
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    padding-top: 30px;
    
}
.main_container>.con1>.con2>.nav1{
    height: 100px;
    width: 100px;

}
.main_container>.con1>.con2>.nav1>img{
    height: 110px;
    width: 110px;
  margin-left: 30px;
}
.main_container>.con1>.con2>.nav2{
    height: 200px;
    width: 300px;
    padding-top: 20px;
    /* line-height: 30px; */
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.main_container>.con1>.con2>.nav2>h1{
   
   text-decoration: none;
   font-size: x-large;
}






.main_container>.con1>.con3{
    height: 100%;
    width: 50%; 
    display: flex;
    /* background-color: blue; */
    justify-content: space-around;
    padding-top: 30px;
    
}
.main_container>.con1>.con3>.nav1{
    height: 100px;
    width: 100px;

}
.main_container>.con1>.con3>.nav1>img{
    height: 110px;
    width: 110px;
  margin-left: 50px;
}
.main_container>.con1>.con3>.nav2{
    height: 200px;
    width: 300px;
    padding-top: 20px;
    /* line-height: 30px; */
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.main_container>.con1>.con3>.nav2>h1{
   
   text-decoration: none;
   font-size: x-large;
}








.main_container>.con4>.con5{
    height: 100%;
    width: 50%; 
    display: flex;
    /* background-color: coral; */
    justify-content: space-around;
    padding-top: 30px;
    
}
.main_container>.con4>.con5>.nav1{
    height: 100px;
    width: 100px;

}
.main_container>.con4>.con5>.nav1>img{
    height: 110px;
    width: 110px;
  margin-left: 50px;
}
.main_container>.con4>.con5>.nav2{
    height: 200px;
    width: 300px;
    padding-top: 20px;
    /* line-height: 30px; */
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.main_container>.con4>.con5>.nav2>h1{
   
   text-decoration: none;
   font-size: x-large;
}




.main_container>.con4>.con6{
    height: 100%;
    width: 50%; 
    display: flex;
    /* background-color: yellow; */
    justify-content: space-around;
    padding-top: 30px;
    
}
.main_container>.con4>.con6>.nav1{
    height: 100px;
    width: 100px;

}
.main_container>.con4>.con6>.nav1>img{
    height: 110px;
    width: 110px;
  margin-left: 50px;
}
.main_container>.con4>.con6>.nav2{
    height: 200px;
    width: 300px;
    padding-top: 20px;
    /* line-height: 30px; */
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.main_container>.con4>.con6>.nav2>h1{
   
   text-decoration: none;
   font-size: x-large;
}



.details{
    height: 92vh;
    width: 100%;
    /* background-color: blueviolet; */
    background-image: linear-gradient(rgb(176,35,194)15%,rgb(96,11,231));
    /* padding: 50%; */

}
.details>.con1{
    height: 40%;
    width: 100%;
    /* background-color: bisque; */
}
.details>.con2{
    height: 60%;
    width: 100%;
    /* background-color: bisque; */

}
.details>.con2>p{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 
.questions
{
    height: 100vh;
    width: 100%;
} */


.ready{
    height: 90vh;
    width: 100%;
    background-color:pink;
}
.ready>.con1{
    height: 30%;
    width: 100%;
    /* background-color: aqua; */
}
.ready>.con2{
    height: 30%;
    width: 100%;
    padding-top: 30px;
    /* background-color: blue; */
}
.ready>.con2>p{
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ready>.con3{
    height: 10%;
    width: 100%;
    /* background-color: red; */
}
.ready>.con3>button{
    height: 40px;
    width: 200px;
    border: 0px;
    border-radius: 20px;
    margin-left: 40%;
    margin-top: 10px;
    
}
.ready>.con3>button>p{
    
    font-size: small;
    text-transform: uppercase;
    font-weight: bold ;
    
}
.ready>.con4{
    height: 30%;
    width: 100%;
    /* background-color:chartreuse; */
}





